---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Curso Astro">
	<main>
		<h1 class="text-6xl text-white">SpaceX Launces.. 🚀</h1>
	</main>
</Layout>

